#full
{
	border: 5px solid blue;
	width: 550px;
	height: 550px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}
button
{
	width: 81px;
	height: 81px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	background-color: green;
	border-radius: 10px;	
}
#display
{
	margin-top: 5px;
	width: 400px;
	height: 30px;
	border-radius:10px; 
}
#Group
{
	text-align: center;
	text-decoration-color: red;
}